@import "tailwindcss";
.bgimage {
    background-image: url("./bgheader.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.b1 {
    border: 1px solid white;
}

.bg2 {
    background-image: url("./2722\ [преобразованный]\ 5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}